main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 94vh;
  padding-top: 6vh;
  background-color: var(--color_light_gray);
}
.write_section {
  width: 50%;
  border-radius: 5px;
}
.write_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color_deep_dark);
  border-radius: 5px;
  background-color: var(--color_dark);
}
.write_box_title {
  background-color: var(--color_deep_dark);
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.write_box_title_subbox {
  width: 100px;
}
.btn_delete_allpost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: white;
  border: 2px solid var(--color_deep_dark);
  border: 1px solid white;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  padding: 2px 5px;
}
.btn_delete_allpost:hover {
  background-color: white;
  color: var(--color_deep_dark);
}

.write_box_title_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.btn_toggle_writebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  padding: 2px 5px;
}
.btn_toggle_writebox:hover {
  background-color: white;
  color: var(--color_deep_dark);
}

.write_box_content {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.write_box_content_title {
  margin-top: 20px;
  width: 100%;
}
#write_title {
  border: 2px solid var(--color_dark);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}
.write_box_content_content {
  width: 100%;
}

#write_content {
  border: 2px solid var(--color_dark);
  width: 100%;
  height: 10%;
  margin-top: 10px;
  border-radius: 5px;
  resize: none;
  padding: 5px;
}
.btn_submit_post {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  color: white;
  background-color: var(--color_deep_dark);
  border: 2px solid var(--color_deep_dark);
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.btn_submit_post:hover {
  background-color: white;
  color: var(--color_deep_dark);
}
.write_box_comment {
  color: var(--color_light_gray);
  font-size: 12px;
}

.read_section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.read_item {
  background-color: white;
  border-radius: 5px;
  width: 19%;
  margin: 1% 0.5% 0 0.5%;
  box-sizing: border-box;
  border: 2px solid var(--color_dark);
}
.read_item_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color_dark);
  color: white;
  height: 25px;
}

.read_item_content {
  background-color: white;
  color: black;
  overflow-y: auto;
  resize: none;
  height: 200px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
.read_item_content:focus {
  outline: none;
}
.read_item_content::-webkit-scrollbar {
  display: none;
}
.read_item_comment {
  width: 100%;
  background-color: white;
  font-size: 10px;
  color: lightgray;
  text-align: end;
  margin-right: 5px;
}

/*현재 위치의 메뉴 색 바꾸기*/
#header_list_container li:nth-child(5) a {
  background-color: var(--color_deep_dark);
}
