.btn_container {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn_container i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-deepblue);
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 2px solid var(--color-deepblue);
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 0.5rem;
}
.btn_container i:hover {
  border-color: var(--color-skyblue);
  color: var(--color-skyblue);
}
.announcement {
  font-size: var(--fontsize_s);
  font-weight: 400;
  width: 36rem;
  height: 18rem;
  position: fixed;
  right: 3rem;
  bottom: 0.5rem;
  background-color: white;
  border: solid 0.125rem var(--color-deepblue);
  border-radius: 0.5rem;
  display: block;
  resize: none;
  padding: 1%;
}
.announcement:focus {
  outline: none;
}
@media (max-width: 570px) {
  .announcement {
    display: none;
  }
}
