main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 6vh;
  background-color: var(--color-white);
}

.ad_section {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 6%;
  left: 0;
}
.advertising {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 15.625rem;
  height: 25rem;
  background-color: white;
  margin-bottom: 1rem;
}

.content_section {
  width: 60%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.free_abilitystonegame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  height: 15.625rem;
  margin-bottom: 1rem;
}
.free_abilitystonegame_titlebox {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: var(--color-deepblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
.free_abilitystonegame_titlebox div {
  font-size: var(--fontsize_xs);
  display: flex;
  min-width: 5%;
  justify-content: center;
  align-items: center;
  color: white;
}
.free_abilitystonegame_titlebox h1 {
  font-size: var(--fontsize_s);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free_abilitystonegame_contentbox {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}
.free_abilitystonegame_row {
  width: 99%;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}
.free_abilitystonegame_row:nth-child(1) {
  justify-content: flex-end;
}
.free_abilitystonegame_row:nth-child(5) {
  margin-bottom: 1rem;
  justify-content: center;
}
#free_abilitystonegame_probability {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free_abilitystonegame_name {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free_abilitystonegame_numberofsuccess {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.free_abilitystonegame_btn_doit {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.free_abilitystonegame_btn_doit:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.free_abilitystonegame_btn_done {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.free_abilitystonegame_btn_done:hover {
  background-color: white;
  color: var(--color-deepblue);
}

.abilitystonegame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  height: 15.625rem;
  margin-bottom: 1rem;
}
.abilitystonegame_titlebox {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: var(--color-deepblue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
.abilitystonegame_titlebox div {
  font-size: var(--fontsize_xs);
  display: flex;
  min-width: 5%;
  justify-content: center;
  align-items: center;
  color: white;
}
.abilitystonegame_titlebox h1 {
  font-size: var(--fontsize_s);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.abilitystonegame_start_container {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}
.abilitystonegame_start_announcement {
  background-color: var(--color-deepblue);
  width: 80%;
  height: 50%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.abilitystonegame_start_announcement > p {
  font-size: var(--fontsize_s);
  color: white;
}
.abilitystonegame_start_btn {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.abilitystonegame_start_btn:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.abilitystonegame_contentbox {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}
.abilitystonegame_row {
  width: 99%;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}
.abilitystonegame_row:nth-child(1) {
  justify-content: flex-end;
}
.abilitystonegame_row:nth-child(5) {
  margin-bottom: 1rem;
}
#abilitystonegame_probability {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abilitystonegame_name {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diamond {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--color-deepblue);
  transform: translateY(0.5rem) rotate(45deg);
  background-color: white;
  transition: ease-in-out 0.3s;
}
.abilitystonegame_numberofsuccess {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abilitystonegame_btn_doit {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.abilitystonegame_btn_doit:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.abilitystonegame_btn_done {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  padding: 0.25rem;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.abilitystonegame_btn_done:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.findninavegame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}
.findninavegame_titlebox {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: var(--color-deepblue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
.findninavegame_titlebox div {
  font-size: var(--fontsize_xs);
  width: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.findninavegame_titlebox h1 {
  font-size: var(--fontsize_s);
  width: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.findninavegame_start_container {
  background-color: white;
  width: 100%;
  aspect-ratio: 2/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}
.findninavegame_start_announcement {
  background-color: var(--color-deepblue);
  width: 80%;
  height: 50%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.findninavegame_start_announcement > p {
  font-size: var(--fontsize_s);
  color: white;
}
.findninavegame_start_btn {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.findninavegame_start_btn:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.findninavegame_contentbox {
  width: 100%;
  height: 100%;
}

.findninavegame_background {
  background-image: url(../img/findninavegame_background.png);
  background-size: contain;
  width: 100%;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
}
.findninavegame_card {
  width: 19%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 1;
}
.findninavegame_card:hover {
  transform: scale(1.1);
}
.findninavegame_btn_done {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.findninavegame_btn_done:hover {
  background-color: white;
  color: var(--color-deepblue);
}

.papunikafishinggame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}
.papunikafishinggame_titlebox {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: var(--color-deepblue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
.papunikafishinggame_titlebox div {
  font-size: var(--fontsize_xs);
  width: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.papunikafishinggame_titlebox h1 {
  font-size: var(--fontsize_s);
  width: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.papunikafishinggame_start_container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 8/3;
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0.125rem solid var(--color-deepblue);
}
.papunikafishinggame_start_announcement {
  background-color: var(--color-deepblue);
  width: 80%;
  height: 50%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.papunikafishinggame_start_announcement p {
  font-size: var(--fontsize_s);
  color: white;
}
.papunikafishinggame_start_btn {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.papunikafishinggame_start_btn:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.papunikafishinggame_contentbox {
  width: 100%;
  height: 100%;
  position: relative;
}
.papunikafishinggame_background {
  width: 100%;
  height: 100%;
  background-image: url("../img/papunikafishinggame_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 8/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0.125rem solid var(--color-deepblue);
}
.papunikafishinggame_item {
  width: 40%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.papunikafishinggame_item_img {
  width: 30%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
}
.papunikafishinggame_item_content {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.papunikafishinggame_item_content p {
  font-size: var(--fontsize_xl);
  font-weight: 700;
}
.papunikafishinggame_btn_done {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.papunikafishinggame_btn_done:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.papunikafishinggame_btn_start {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.papunikafishinggame_btn_start:hover {
  background-color: white;
  color: var(--color-deepblue);
}
/* 룰렛 게임 */
#pointroulettegame_container,
#bonusroulettegame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}
#pointroulettegame_titlebox,
#bonusroulettegame_titlebox {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: var(--color-deepblue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
}
#pointroulettegame_titlebox div,
#bonusroulettegame_titlebox div {
  font-size: var(--fontsize_xs);
  display: flex;
  min-width: 5%;
  justify-content: center;
  align-items: center;
  color: white;
}
#pointroulettegame_titlebox h1,
#bonusroulettegame_titlebox h1 {
  font-size: var(--fontsize_s);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#pointroulettegame_start_container,
#bonusroulettegame_start_container {
  background-color: white;
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}
#pointroulettegame_start_announcement,
#bonusroulettegame_start_announcement {
  background-color: var(--color-deepblue);
  width: 80%;
  height: 50%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pointroulettegame_start_announcement p,
#bonusroulettegame_start_announcement p {
  font-size: var(--fontsize_s);
  color: white;
}
#pointroulettegame_start_btn,
#bonusroulettegame_start_btn,
#pointroulettegame_btn_start,
#bonusroulettegame_btn_start {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  color: white;
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}
#pointroulettegame_start_btn:hover,
#bonusroulettegame_start_btn:hover,
#pointroulettegame_btn_start:hover,
#bonusroulettegame_btn_start:hover {
  background-color: white;
  color: var(--color-deepblue);
}
#pointroulettegame_contentbox,
#bonusroulettegame_contentbox {
  aspect-ratio: 3/2;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}
#pointroulettegame_background,
#bonusroulettegame_background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0.125rem solid var(--color-deepblue);
  position: relative;
}
#pointroulettegame_roulette,
#bonusroulettegame_roulette {
  width: 70%;
  background-size: contain;
  aspect-ratio: 1/1;
  background: url(../img/pointroulett.png);
  background-size: 100%;
  transition-timing-function: ease-in-out;
  transition: 2s;
}
#pointroulettegame_arrow,
#bonusroulettegame_arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 1px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 40px solid var(--color-point);
  border-bottom: 0px solid transparent;
}
/* 베팅 게임 */
.bettinggame_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}
.bettinggame_titlebox {
  width: 100%;
  background-color: var(--color-deepblue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
}
.bettinggame_titlebox h1 {
  font-size: var(--fontsize_s);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bettinggame_contentbox {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0.125rem solid var(--color-deepblue);
}
.bettinggame_addgame_container {
  width: 99%;
  height: 10rem;
  border: 0.25rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-deepblue);
  margin: 0.25rem 0;
}
.bettinggame_addgame_container input {
  font-size: var(--fontsize_s);
  font-weight: 500;
  width: 80%;
  height: 2.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 0.25rem 0;
}
.bettinggame_addgame_container input::placeholder {
  font-size: var(--fontsize_s);
  font-weight: 500;
}
.bettinggame_btn_addgame {
  font-size: var(--fontsize_s);
  background-color: var(--color-deepblue);
  width: 6.25rem;
  height: 1.875rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.bettinggame_btn_addgame:hover {
  background-color: white;
  color: var(--color-deepblue);
}
.bettinggame_item {
  margin: 0.25rem 0;
  width: 99%;
  min-height: 9.375rem;
  display: flex;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bettinggame_item_yes {
  width: 20%;
  height: 95%;
  border-radius: 0.5rem;
  background-color: var(--color-deepblue);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bettinggame_item_yes_title {
  font-size: var(--fontsize_s);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 0.25rem 0;
}
.bettinggame_item_yes_content {
  display: flex;
  flex-wrap: wrap;
}
.bettinggame_item_yes_content p {
  font-size: var(--fontsize_xs);
  color: white;
  margin: 0.25rem;
}
.bettinggame_item_no {
  width: 20%;
  height: 95%;
  border-radius: 0.5rem;
  background-color: var(--color-point);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bettinggame_item_no_title {
  font-size: var(--fontsize_s);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 0.25rem 0;
}
.bettinggame_item_no_content {
  display: flex;
  flex-wrap: wrap;
}
.bettinggame_item_no_content p {
  font-size: var(--fontsize_xs);
  color: white;
  margin: 0.25rem;
}
.bettinggame_item_title_container {
  height: 100%;
  width: 59%;
  display: flex;
  flex-direction: column;
}
.bettinggame_item_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.bettinggame_item_row:nth-child(3) {
  justify-content: space-between;
}
.bettinggame_item_title {
  font-size: var(--fontsize_basic);
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.bettinggame_item_author {
  font-size: var(--fontsize_xs);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
}
.bettinggame_item_point {
  font-size: var(--fontsize_xs);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
}
.bettinggame_btn_done_yes {
  font-size: var(--fontsize_s);
  font-weight: 500;
  margin: 0.25rem;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bettinggame_btn_done_yes:hover {
  color: var(--color-skyblue);
}
.bettinggame_btn_done_no {
  font-size: var(--fontsize_s);
  font-weight: 500;
  margin: 0.25rem;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bettinggame_btn_done_no:hover {
  color: var(--color-skyblue);
}
.bettinggame_btn_delete {
  font-size: var(--fontsize_s);
  font-weight: 500;
  margin: 0.25rem;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bettinggame_btn_delete:hover {
  color: var(--color-skyblue);
}
.bettinggame_btn_lock {
  font-size: var(--fontsize_s);
  font-weight: 500;
  margin: 0.25rem;
  text-align: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bettinggame_btn_lock:hover {
  color: var(--color-skyblue);
}

.point_section {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 6%;
}
.myinfo_container {
  display: flex;
  width: 15.625rem;
  flex-direction: column;
  margin-bottom: 1rem;
}
.myinfo_title {
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: var(--fontsize_s);
  padding: 0.125rem 0;
  width: 100%;
  color: white;
  background-color: var(--color-deepblue);
  display: flex;
  text-align: center;
  justify-content: center;
}
.myinfo_contnet {
  width: 100%;
  background-color: white;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
}
.myinfo_row {
  width: 100%;
  display: flex;
  border-bottom: 0.0625rem solid var(--color-deepblue);
}
.myinfo_row:last-child {
  border: none;
}
.myinfo_row_title {
  font-size: var(--fontsize_s);
  width: 50%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myinfo_row_content {
  font-size: var(--fontsize_s);
  width: 50%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point_ranking_container {
  display: flex;
  flex-direction: column;
  width: 15.625rem;
  margin-bottom: 1rem;
}
.point_ranking_title {
  font-size: var(--fontsize_s);
  padding: 0.125rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  background-color: var(--color-deepblue);
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.point_ranking_contnet {
  background-color: white;
  width: 100%;
  height: 20rem;
  overflow: auto;
  border: 0.125rem solid var(--color-deepblue);
  border-radius: 0 0 0.5rem 0.5rem;
}
.point_ranking_contnet::-webkit-scrollbar {
  display: none;
}
.point_ranking_row {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid var(--color-deepblue);
}
.point_ranking_row:last-child {
  border: none;
}
.point_ranking_row_rank {
  font-size: var(--fontsize_s);
  width: 10%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point_ranking_row_nickname {
  font-size: var(--fontsize_s);
  width: 40%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point_ranking_row_point {
  font-size: var(--fontsize_s);
  width: 50%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*현재 위치의 메뉴 색 바꾸기*/
#header_list_container li:nth-child(5) a {
  color: var(--color-skyblue);
}
@media (max-width: 1330px) {
  .ad_section,
  .point_section {
    display: none;
  }
  .content_section {
    width: 99%;
  }
}
