body{
    background-color: var(--color_main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.needallow_title{
    color: var(--color_deep_dark);
    font-size: 28px;
    font-weight: 700;
}
.btn_logout{
    margin-top: 50px;
    color: var(--color_deep_dark);
    font-size: 20px;
    font-weight: 700;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    border: 2px solid var(--color_deep_dark);
}
.btn_logout:hover{
    color: white;
    background-color: var(--color_deep_dark);
}