:root {
  --color_light: #eeffff;
  --color_main: #bbdefb;
  --color_dark: #8aacc8;
  --color_deep_dark: #5b7d97;
  --color_light_gray: #eceff1;
  --color_main_gray: #cfd8dc;
  --color_dark_gray: #b0bec5;
  --color_deep_dark_gray: #90a4ae;
}
* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  box-sizing: border-box;
}
html {
  background-color: var(--color_light_gray);
}

body {
  min-height: 100vh;
}
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
