<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--    favicon-->
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
      sizes="16x16"
    />

    <!--  css link-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/anonymousboard.css" />

    <!--    jqery-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--    jquery cookie-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
      integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--    ajax-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.4/jquery.xdomainrequest.min.js"
      integrity="sha512-AqrEfeiUZBu9nWx7jHZlve8pPY3Mavhhwobv+pVxTSc10vpElmhFNDqe8DopVSvApKGfUrOQO3OshR8avd+pTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!--    SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <!--    js load-->
    <script defer src="../static/js/anonymousboard.js"></script>

    <!--    google fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--    bootstrap icons-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />

    <title>로아길스</title>
  </head>
  <body>
    <header>
      <div id="header_container">
        <a
          class="mainlogo"
          data-membership="{{user_membership}}"
          data-email="{{user_email}}"
          data-nickname="{{user_nickname}}"
          href="/"
        >
          로아길스
        </a>
        <ul id="header_list_container">
          <li><a href="/thisweeksch/">이번주일정</a></li>
          <li><a href="/nextweeksch/">다음주일정</a></li>
          <li><a href="/resourceoffice/">인력사무소</a></li>
          <li><a href="/anonymousboard/">대나무숲</a></li>
          <li><a href="/minigames/">미니게임</a></li>
          <li><a href="/mypage/">{{user_nickname}}</a></li>
        </ul>
        <i class="bi bi-list"></i>
      </div>
    </header>
    <main>
      <div class="write_section">
        <div class="write_box">
          <div class="write_box_title">
            <div class="write_box_title_subbox"></div>
            <div class="write_box_title_title">작성하기</div>
            <div class="write_box_title_subbox">
              <div onclick="btn_toggle_writebox()" class="btn_toggle_writebox">
                최대화
              </div>
            </div>
          </div>
          <div class="write_box_content">
            <div class="write_box_content_title">
              <input
                type="text"
                name="write_title"
                id="write_title"
                placeholder="제목(최대 20자)"
              />
            </div>
            <div class="write_box_content_content">
              <textarea
                name="write_content"
                id="write_content"
                cols="30"
                rows="10"
                placeholder="내용"
              ></textarea>
            </div>
            <div onclick="writePost()" class="btn_submit_post">작성완료</div>
          </div>
          <div class="write_box_comment">
            이 게시판은 어떠한 개인 정보도 수집하지 않습니다.
          </div>
        </div>
      </div>
      <div class="read_section"></div>
    </main>
  </body>
</html>
